altgraph==0.17.4
asgiref==3.4.1
boto3==1.35.94
botocore==1.35.95
certifi==2023.5.7
charset-normalizer==2.0.12
distlib==0.3.9
Django==3.2.20
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.8
django-ckeditor==6.2.0
django-jazzmin==3.0.1
django-js-asset==2.2.0
django-session-timeout==0.1.0
django-storages==1.14.4
filelock==3.16.1
future==1.0.0
idna==3.4
jmespath==1.0.1
macholib==1.16.3
modern-robotics==1.1.1
numpy==2.0.2
packaging==24.2
Pillow==8.4.0
pipenv==2024.4.0
platformdirs==4.3.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
requests==2.27.1
s3transfer==0.10.4
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.28.0
